<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Submit Feedback</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/parks">Parks</a></li>
        <li><a href="/trails">Trails</a></li>
        <li><a href="/wildlife">Wildlife</a></li>
        <li><a href="/announcements">Announcements</a></li>
        {% if not is_logged_in %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign Up</a></li>
        {% else %}
        <li><a href="/book">Book a visit</a></li>
        <li><a href="/bookings">Bookings</a></li>
        <li><a href="/profile">My Profile</a></li>
        {% endif %}
    </ul>
</nav>
<div class="feedback-container">
    <h1>Submit Feedback for {{ park.name }}</h1>
    <form action="{{ url_for('submit_feedback', park_id=park.id) }}" method="POST">
        <textarea name="feedback" rows="10" cols="50" placeholder="Enter your feedback here..."></textarea><br><br>
        <button type="submit">Submit Feedback</button>
    </form>
</div>
</body>
</html>